* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
    --gallery-gap: calc(var(--index) * 10);
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: outfic-c;
}

body {
    font-family: raleway-c;
    overflow-x: hidden;
    background-color: rgb(14, 14, 14);
    background-size: 50px;
    color: #fafafa;
}

.hero {
    width: 500px;
    position: absolute;
    left: 50vw;
    top: 8vh;
    border: 1px solid rgb(255, 221, 0);
    box-shadow: 3px 2px 20px rgb(255, 221, 0);
    animation: hero-animate 10s infinite alternate;
}

@keyframes hero-animate {
    0% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    40% {
        border-radius: 80% 20% 67% 33% / 34% 67% 33% 66%;
    }

    60% {
        border-radius: 33% 67% 42% 58% / 61% 90% 10% 39%;
    }

    100% {
        border-radius: 74% 26% 73% 27% / 34% 52% 48% 66%;
    }

}

.main-header {
    height: 100vh;
}

.main-title {
    font-size: 6rem;
    position: absolute;
    width: min-content;
    top: 40vh;
}

.container {
    padding: 0 7vw;
}

.info {
    display: flex;
    padding: calc(var(--index)*8) 0;
}

.infoL {
    display: flex;
    padding-top: 50px;
    max-width: calc(var(--index) * 20);
    margin-bottom: var(--gallery-gap);
    max-height: 150vh;
}

.info>* {
    flex: 1;
    display: flex;
    align-items: normal;
    flex-direction: column;
}

.info__item {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.info__left {
    margin-top: calc(var(--gallery-gap)*2);
}

.text-block {
    font-size: 1rem;
    line-height: 2.4rem;
    margin-bottom: 1.75;
}

.text-block__h {
    margin-top: 20px;
    margin-left: 10px;
    color: var(--color-header);

}

.text-block__p {
    margin-top: 20px;
    position: relative;
    top: 20px;
    left: -40px;
}

.info__item_contacts {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.text-block_contacts {
    width: 30px;
    height: 30px;
    position: relative;
    top: 20px;
    left: -40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.all-contacts {
    display: flex;
    flex-direction: column;
}

.nav-item {
    transition: color 0.3s linear;
    text-decoration: none;
    color: #fafafa;
    font-family: raleway-c;
}

.nav-item:hover {
    color: rgb(255, 221, 0);
}

.info__right {
    margin: 0;
    margin-top: calc(var(--gallery-gap)*2);
    max-width: calc(var(--index)*50);
    position: absolute;
    left: 950px;

}

ul {
    margin-left: 0;
}