/* Tablet */
@media (max-width: 1000px) {

    .hero {
        max-width: 400px;
        left: 30vh;
        top: 5vh;
    }

    .main-title {
        top: 60vh;
        font-size: 3rem;
    }
    .progress,
    .progress-js,
    .progress-git,
    .progress-sql {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
}



@media (max-width: 850px) {

    .hero {
        max-width: 300px;
        left: 30vw;
        top: 3vh;

    }

    .progress,
    .progress-js,
    .progress-git,
    .progress-sql {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
}







@media (max-width: 650px) {
    .hero {
        max-width: 150px;
    }

    .container {
        padding-left: 0;
    }

    .main-title {
        font-size: 3rem;
        top: 60vh;
        max-width: 100vw;
        display: flex;
        justify-content: center;
        position: relative;
        width: min-content;
        padding: 0 10vw;

    }

    .info > *   {
        flex-direction: column;
    }

    .text-block {
        
        line-height: 1rem;
        margin-bottom: 1;
    }

    .text-block__p {
        font-size: 8px;
    }
    .text-block__h {
        font-size: 10px;
    }
    .info__left {
        max-width: 200px;
    }
   
    .progress-bar {
       
        width: 100px;
        height: 6px;
        
    }
    .nav-item {
        font-size: 8px;
    }

    .info__item {
        width: 30px;
        height: 30px;
        margin: 20px;
    }

    .info__item_contacts {
        margin-right: 20px;
        width: 18px;
        height: 18px;
    }

    .progress,
    .progress-js,
    .progress-git,
    .progress-sql {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
    
    

}